{
    "telegram_token": "{str}",
    "vk_token": "{str}",
    "working_directory": "{str}",
    "group_id": "{str}",
    "start_message": "{str}",
    "help_message": "{str}",
    "stop_message": "{str}",
}