appdirs==1.4.4
astroid==2.15.5
attrs==23.1.0
black==23.3.0
certifi==2023.5.7
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.5
colorama==0.4.6
dill==0.3.6
future==0.18.3
idna==3.4
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.9.0
PyLink==0.3.3
pylint==2.17.4
pyserial==3.5
pyTelegramBotAPI==4.12.0
regex==2023.6.3
requests==2.31.0
six==1.16.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
typed-ast==1.5.5
typing_extensions==4.7.1
urllib3==2.0.3
vk-api==11.9.9
wrapt==1.15.0
youtube-dl==2021.12.17
